/**
 * @name Peninsula
 * @author Leeprky#2063
 * @version 0.1
 * @description In The Making
 * @source https://github.com/leeprky/Peninsula
 * @updateUrl https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.theme.css
 * @authorId 224524143482241035
 * @invite Ff3rqAYB89
 * @donate https://www.paypal.com/leeparkinson22
 * @website https://leeprky.github.io/
*/

/*  ------------------------------------------

              Peninsula (BetterDiscord)
                      v0.2
                - By leeprky#2063 -

    ------------------------------------------  */

/* Theme Imports */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url('https://leeprky.github.io/themes/Peninsula/Peninsula-Theme.css');

@import url(https://leeprky.github.io/themes/BaseStuff/alt-color.css);
@import url(https://leeprky.github.io/themes/FullyThemedDiscord/FullyThemedDiscord.css);

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);

/* ===========================================
         USRBG Popouts by Tropix126.
=========================================== */

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

/* ===========================================
         USRBG Popouts by Tropix126.
=========================================== */

/*  ------------------------------------------
              Peninsula Configuration
                      v0.2
                - leeprky#2063 -
    ------------------------------------------  */

#app-mount .container-1D34oG,.app-2rEoOp,.bg-h5JY_x,.chat-3bRxxu,.content-1o0f9g,.contentRegionScroller-26nc1e,.layer-3QrUeG,.members-1998pB>div,.scroller-1JbKMe,.applicationStore-1pNvnv,.scroller-305q3I,.sidebar-2K8pFh,.standardSidebarView-3F1I7i,.wrapper-1F5TKx,.wrapper-3NnKdC,.wrapper-3vR61M,body{background:0 0}.container-3w7J-x,.members-1998pB,.nowPlayingColumn-2sl4cE,.privateChannels-1nO12o,.sidebar-2K8pFh>.scrollerBase-289Jih,.sidebarRegionScroller-3MXcoP{background:rgba(47,49,54,var(--sides-transp))}.panels-j1Uci_ {background:rgba(41,43,47,var(--sides-transp))}.scroller-1Bvpku,.withFrame-haYltI, .nowPlayingColumn-2sl4cE{background:rgba(32,34,37,var(--sides-transp))}.scroller-9moviB,#app-mount .pageWrapper-1PgVDX,.chatContent-a9vAAp,.contentRegion-3nDuYy,.header-2mZ9Ov::after,.peopleColumn-29fq28,.stickyHeader-hH_ZLl::after,.titleContainer-2CXtJo::after{background:rgba(54,57,63,var(--chat-transp))}.container-1r6BKw.themed-ANHk51, .container-lRFx4q{background:rgba(54,57,63,var(--sides-transp))}.container-1r6BKw.themed-ANHk51,.members-1998pB,.nowPlayingColumn-2sl4cE,.scroller-1Bvpku,.sidebar-2K8pFh,.sidebarRegionScroller-3MXcoP,.withFrame-haYltI, .container-lRFx4q{backdrop-filter:blur(var(--sides-blur))}#app-mount .children-19S4PO:after,#app-mount .form-2fGMdU:before{display:none}.appMount-3lHmkl, .tabBody-3YRQ8W, .nowPlayingColumn-2sl4cE {background:var(--background) center/cover no-repeat}.withFrame-haYltI{padding-top:4px;margin-top:0}#app-mount .sidebar-2K8pFh{border-radius:0}.content-1o0f9g{backdrop-filter:blur(5px)}.header-2mZ9Ov::before,.stickyHeader-hH_ZLl::before,.titleContainer-2CXtJo::before{background:var(--background) center/cover fixed}.header-2mZ9Ov::after,.header-2mZ9Ov::before,.stickyHeader-hH_ZLl::after,.stickyHeader-hH_ZLl::before,.titleContainer-2CXtJo::after,.titleContainer-2CXtJo::before{content:"";position:absolute;top:0;bottom:0;right:0;left:0;pointer-events:none;z-index:-1}.scroller-9moviB, #app-mount .pageWrapper-1PgVDX, .chatContent-a9vAAp, .contentRegion-3nDuYy, .header-2mZ9Ov::after, .peopleColumn-29fq28, .stickyHeader-hH_ZLl::after, .titleContainer-2CXtJo::after {background: rgba(54,57,63,var(--chat-transp));backdrop-filter: blur(var(--chat-blur))}
.withFrame-haYltI {padding-top: 13.5px;margin-top: 0;}

.theme-dark {

  /* PENINSULA */
  /* background */
  --background:url('https://i.gifer.com/3ZTz.gif');
  --chat-blur: 10px;
  --chat-transp:0.80;
  --sides-transp: 0.80;
  --sides-blur: 10px;

  /* variables */
	
  --bd-color: #1B5EB6;
  --bd-color-hover: #164a8f;
  --alt-color: 114, 137, 218; /* RGB */
  --alt-color2: #7289DA; /* HEX */

  --serverlist-background: #2f3136ce;
  --serverlist-folder-background: #2f313659;


  /* Powercord */
  --spotify-color: var(--alt-color2);

  --toast-background: #2f3136;
  --toast-header: #202225;
  --toast-contents: #36393f;
  --toast-box-shadow: rgba(0, 0, 0, .2);
  --toast-border: rgba(28, 36, 43, .6);


  /* Discord */
  --header-primary: #fff;
  --header-secondary: #b9bbbe;

  --channels-default: #8e9297;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --text-positive: #4fdc7b;

  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;

  --background-primary: #36393f;
  --background-secondary: #2f3136c4;
  --background-secondary-alt: #2f3136c4;
  --background-tertiary: #20222500;
  --background-accent: #4f545c;
  --background-floating: #18191cfd;
  --background-message-hover: rgba(4,4,5,0.07);
  --channeltextarea-background: #40444b;
  --activity-card-background: #202225;

  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;

  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);

  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-text: #fff;
  --status-warning-text: #000;

  --info-help-background: rgba(0,176,244,0.1);
  --info-help-foreground: #00b0f4;

  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;

  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);

  --logo-primary: #fff;
  --control-brand-foreground: #a5b3e7;

  --background-mentioned: rgba(250,166,26,0.1);
  --background-mentioned-hover: rgba(250,166,26,0.08);

  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --textbox-markdown-syntax: #8e9297;

  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;

  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);

  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

  /* Discord Rebrand */
.theme-dark, .theme-light {
  --text-warning: #faa61a;
  --text-danger: #ed4245;

  --info-positive-background: rgba(59,165,92,0.1);
  --info-positive-foreground: #3ba55c;
  --info-warning-background: rgba(250,166,26,0.1);
  --info-warning-foreground: #faa61a;
  --info-danger-background: rgba(237,66,69,0.1);
  --info-danger-foreground: #ed4245;

  --status-positive-background: #3ba55c;
  --status-positive-text: #fff;
  --status-warning-background: #faa61a;
  --status-danger-background: #ed4245;
  --status-danger-text: #fff;

  --focus-primary: #00b0f4;
}

:root {
  --font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  --font-korean: Whitney,"Apple SD Gothic Neo","NanumBarunGothic","\B9D1\C740 \ACE0\B515","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-japanese: Whitney,Hiragino Sans,"\30D2\30E9\30AE\30CE\89D2\30B4 ProN W3","Hiragino Kaku Gothic ProN","\30E1\30A4\30EA\30AA",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-simplified: Whitney,"Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-traditional: Whitney,"Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Extras */
.platform-win .scroller-1Bvpku {background-color: var(--serverlist-background);}
.titleBar-AC4pGV > *:nth-child(2):hover {background-color: #9b2314;}
.titleBar-AC4pGV > *:nth-child(3):hover {background-color: #a07b0e;}
.titleBar-AC4pGV > *:nth-child(4):hover {background-color: #0f790f;}

/* BETTERDISCORD ADDITONS */
    .activity-11LB_k {
      background-color: rgba(0, 0, 0, 0);
    }
    .scroller-305q3I {
      border-radius: 12px;
    }
    .theme-dark .perksModal-fSYqOq {
      background-color: var(--background-primary);
    }
    /* Bd Blue */
    .bd-button, .bd-server-tag, .bd-addon-views .bd-view-button.selected  {
      background-color: var(--bd-color); 
    }
    .bd-button:hover {
      background-color: var(--bd-color-hover); 
    }
    #bd-pub-button:hover {
      background-color: var(--bd-color-hover); 
    }
    .horizontal-1ae9ci {
      margin-left: 35px;
    }

    /*  ----------------------------------------------------
           ANYTHING ELSE YOU WANT TO ADD GOES BELOW
                  THIS IS FOR DEBUGGING ETC
                      v0.2 (Peninsula)
    ----------------------------------------------------  */
